<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <title>cadenza{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <!--START STYLESHEETS-->
      <!-- Materialize Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!--END STYLESHEETS-->
    <!--ssl -->
      <script type="text/javascript"> //<![CDATA[
      var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "https://www.trustlogo.com/");
      document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
      //]]>
      </script>
      <!--end ssl -->
  </head>


  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">cadenza</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="">test</a></li>
          <li><a href="">test</a></li>
          <li><a href="">test</a></li>
        </ul>
      </div>
    </nav>

    {% block content%}
    {% endblock%}

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright Text
        <!--ssl -->
          <script language="JavaScript" type="text/javascript">
              TrustLogo("https://mycadenza.io/static/img/comodo_secure_seal_113x59_transp.png", "CL1", "none");
          </script>
          <a  href="https://www.instantssl.com/" id="comodoTL">Essential SSL</a>
        <!--end ssl -->
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <!--START SCRIPT FILES-->
      <!-- Materialize Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!--END SCRIPT FILES-->
  </body>
</html>
